<main class="container maintextbox whitetext test">
    <section class="margins">
        <h1>YHTEYSTIEDOT</h1>
    </section>
    <div class="contactsCard">
        <div class="imageDiv">
            <div class="circleImage">
                <img src="/assets/example.jpg" alt="Avatar">
            </div>    
        </div>
        <div class="infoDiv">
            <h2>Mikko Mallikas</h2>
            <p>Työskennellyt 6 vuotta verrkosivujen kehityksen parissa eri teknologioilla.</p>
            <p>mikko.mallikas@codecrush.com</p>
            <p>0401234567</p>
        </div>
    </div>

    <div class="contactsCard">
        <div class="imageDiv">
            <div class="circleImage">
                <img id="example2" src="/assets/example2.jpg" alt="Avatar">
            </div>    
        </div>
        <div class="infoDiv">
            <h2>Maija Meikäläinen</h2>
            <p>Ihan vaan harkkari</p>
            <p>maija.meikalainen@codecrush.com</p>
            <p>0401234567</p>
        </div>
    </div>
</main>