<!-- Navbar -->
<nav class="navbar navbar-expand-lg boxshadowfornav textfont mainbccolor mainbccolordarker" >
    <!-- Container wrapper -->
    <div class="container ">
      <!-- Navbar brand -->
      <!-- Image and text -->
      <nav>
        <div class="container-fluid">
          <a class="navbar-brand shadowsss"  href="#">
            <img
            class="rotate"
            style=""
            src="/assets/codecrushO.png"
            height="30"
            alt=""
            loading="lazy"
          />
            <img
            style=""
            src="/assets/codecrushnoO.png"
            class="me-2"
            height="50"
            alt=""
            loading="lazy"
          />
          </a>
        </div>
      </nav>

  
      <!-- Toggle button -->
      <div class="buttonhover">
        <button
          class="navbar-toggler btn darkbtn"
          type="button"
          (click)="buttonsNav.toggle()"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars" style="color: white; filter:drop-shadow(0px 0px 2px rgb(0, 0, 0));pointer-events: none;"></i>
        </button>
      </div>
      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarButtonsExample"
        mdbCollapse
        #buttonsNav="mdbCollapse"
      >
      
        <!-- Left links -->
        <div class="d-flex flex-row" style="position: relative;">
          <div class="nav-item p-2 buttonhover">
            <a class="btn darkbtn btn-rounded" href="#">Home</a>
          </div>
          <div class="nav-item p-2 buttonhover">
            <a class="btn darkbtn btn-rounded" href="contacts">Contacts</a>
          </div>
          <div class="nav-item ms-auto p-2 buttonhover">
            <a  class="btn darkbtn btn-rounded" href="#">About</a>
          </div>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->

</nav>

<div class="glowingbar"></div>
  <!-- Navbar -->