.navbar {
    flex: 1;
}

.navbartext {
    color: #ffffff;
    font-size: 1.3rem;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0)); filter: drop-shadow(5px 5px 5px #222);
    
}

.shadowsss {
    -webkit-filter: drop-shadow(5px 5px 5px #222); filter: drop-shadow(5px 5px 5px #222);
}

.rotate {
    margin-left: 33.55px;
    position: absolute;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    
  }
  
 @-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
 }
 @-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
 }
 @keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
 }
