
.maintextbox {
    color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow:0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.whitetext{
    color: white;
    font-family: 'Pragati Narrow', sans-serif;
}

.spacingdiv{
    margin-top: 2%;
}

.test {
    background-color: rgb(38, 38, 39);
}
.container {
    flex: 1;
    margin-top: 3%;
    margin-bottom: 3%;
}
@media screen and (max-width: 575px) {
    .container {
        border-radius: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}