/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

/*Change site main color theme*/
.mainbccolor{
  background-color: #33333334;
}
.mainbccolordarker{
  background-color: #00000000;
}
/*Change buttons color theme*/
.darkbtn {
  background-color: #292929;
  color: #fff;
  box-shadow: 0 4px 9px -4px #292929;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.boxshadowfornav{
  box-shadow: rgba(75, 75, 75, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.boxshadowforfooter {
    box-shadow: rgba(75, 75, 75, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.buttonhover :hover{
    background: rgb(0,133,138);
    background: linear-gradient(0deg, rgb(0, 108, 112) 0%, rgba(0,187,194,1) 100%);
    transition: all ease-out 200ms;
    color: #ffffff;
    box-shadow: 0 4px 9px -4px #000000;
    text-shadow: 0 0 10px #000000;
  }
.glowingbar {
  width: 100%;
  border:2px solid rgb(0, 247, 255);
  box-shadow: 0 0 10px #008cff;
  z-index: 2;
  
}
.body { 
  min-height: 100vh;
  margin:0;
  display:flex;
  flex-direction:column;
}

.glow {
  filter: drop-shadow( 0 0 10px #008cff63);
}
app-contacts, app-main, app-about {
  flex: 1;
  display: flex;
}