/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import url('https://fonts.googleapis.com/css2?family=Pragati+Narrow&display=swap');

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

/*Change site main color theme*/
.mainbccolor{
  background-color: #33333334;
}
.mainbccolordarker{
  background-color: #00000000;
}
/*Change buttons color theme*/
.darkbtn {
  background-color: #292929;
  color: #fff;
  box-shadow: 0 4px 9px -4px #292929;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.boxshadowfornav{
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12),
    rgba(75, 75, 75, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.boxshadowforfooter {
    box-shadow: rgba(75, 75, 75, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.zoom :hover {
    transform: scale(1.1);
    transition: all ease-out 500ms;
    font-weight: bold;
    color: #00c3ff;
    box-shadow: 0 4px 9px -4px #292929;
    border:1px solid rgb(0, 247, 255);
  }
.glowingbar {
  width: 100%;
  border:2px solid rgb(0, 247, 255);
  box-shadow: 0 0 10px #008cff;
}
.body { 
  min-height: 100vh;
  margin:0;
  display:flex;
  flex-direction:column;
}

.glow {
  filter: drop-shadow( 0 0 10px #008cff63);
}
app-contacts, app-main, app-about {
  flex: 1;
  display: flex;
}
